<div class="sy-foot-socials">
    {%- include "components/foot-socials.html" -%}
    <a href="https://www.linkedin.com/in/olivia-kay-appleton" aria-label="LinkedIn">
        <iconify-icon icon="simple-icons:linkedin"></iconify-icon>
    </a>
    <a href="https://github.com/LivInTheLookingGlass" aria-label="GitHub">
        <iconify-icon icon="simple-icons:github"></iconify-icon>
    </a>
    <a href="https://gitlab.com/LivInTheLookingGlass" aria-label="GitLab">
        <iconify-icon icon="simple-icons:gitlab"></iconify-icon>
    </a>
    <a href="https://orcid.org/0009-0004-2296-7033" aria-label="ORCiD">
        <iconify-icon icon="simple-icons:orcid"></iconify-icon>
    </a>
    <a href="https://www.openstreetmap.org/user/LivInTheLookingGlass" aria-label="OpenStreetMap">
        <iconify-icon icon="simple-icons:openstreetmap"></iconify-icon>
    </a>
</div>
