.rst-content .toctree-wrapper:not(:last-child) ul {
   margin-bottom: 0;
}

.rst-content .toctree-wrapper ul li a {
   margin-bottom: 0;
}

.rst-content .toctree-wrapper ul li ul {
   margin-top: 0;
}

.logo {
   vertical-align: middle;
   display: inline-block;
   margin-top: -0.24em;
   margin-bottom: -0.12em;
   height: 1.05em;
   width: 1.05em;
}

.gitlab-logo {
   margin-left: -0.4em;
   margin-right: -0.45em;
}